// 
// * 模块描述：名称
// * 模块兼容：Chrome，Firefox，IE（7+）
// * 模块作者：@Andy
// * 更新时间：2015-06-16 10:14
// 
@import 'ui';

body{
	background: #000;
	color: #000;
	font: 12px/1.75 'Hiragino Sans GB', 'Microsoft YaHei', '\5b8b\4f53', Tahoma, Arial, sans-serif;
}

a{

	&:hover{
		
	}
}

// 按钮
.ui-btn{

}

// 图标
.ui-icon{

}

// 页面尺寸
.ui-row{
	.ui-row();
}

// 单个组件


// 布局组件


// 脚注
.footer{
	text-align: center;

	img{
		vertical-align: middle;
	}
}
